.car-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  position: relative;
  background: rgb(226, 233, 235);
  border-radius: 20px;
}

.car-img {
  height: 700px;
  max-width: 100%;
  transition: var(--transition);
}

.icon {
  height: 4rem;
  width: 4rem;
  background: rgba(192, 180, 180, 0.5);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: rgb(46, 70, 62);
  cursor: pointer;
  position: absolute;
  transition: var(--transition);
  top: 20%;
}
.icon:hover {
  transform: scale(1.2);
}

.next {
  left: 90%;
}
.prev {
  left: 5%;
}
.small-car {
  height: 5rem;
  margin: 5px;
  box-shadow: 0 0 10px 10px rgba(48, 48, 48, 0.3);
  margin-top: 1rem;
}
.btn-book {
  width: 10rem;
  height: 3rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.car-name {
  font-size: 5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.price {
  margin: 0;
  font-size: 2rem;
}
.detail {
  letter-spacing: 1px;
}

.book {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.modal {
  font-size: 1.5rem;
  width: 500px;
  height: auto;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 500px 50px rgba(48, 43, 43, 1);
  margin: 0 auto;
  position: fixed;
  flex-direction: column;
  top: 10%;
  background: gainsboro;
  left: 40%;
  text-align: center;
  justify-content: center;
}

.close-modal {
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
}
.calendar {
  margin: 0 auto;
}
